# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=ecg-arrhythmia-topic
KAFKA_GROUP_ID=ecg-arrhythmia-consumer-group

# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017
MONGO_DB=ecg_analysis
MONGO_COLLECTION=arrhythmia_results

# System Configuration
CONSUMER_THREADS=5
LOG_LEVEL=INFO
FACILITY_ID=CF1315821527
